{% extends 'jiajiale/base.html' %}
{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css'%}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'login/js/login.js' %}"></script>
{% endblock linkscript %}

{% block base %}
	<div class="login_top clearfix">
		<a href="/main/" class="login_logo"><img src="/static/login/img/logo.jpg"></a>
	</div>
	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">人见人爱 · 花见花开</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/register/">立即注册</a>
				</div>
				<div class="form_input">
					{# 不设置表单的action，提交时向浏览器当前地址发送请求 #}
					<form method="post">
						{% csrf_token %}
						<input type="text" name="username" class="name_input" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" >
							<label>确认登录</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
				<em>{{ errmsg }}</em>
			</div>
		</div>
	</div>

{% endblock base %}