{% extends 'jiajiale/userBase.html' %}


{% load static from staticfiles %}
{% block linkscript %}
	<link rel="stylesheet" type="text/css" href="{% static 'userBase/css/userBase.css'%}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'userBase/js/userBase.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'userAddress/css/userAddress.css'%}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'userAddress/js/userAddress.js' %}"></script>
{% endblock linkscript %}

{% block rightContent %}
<div class="rightContent">
	<h3>收货地址</h3>
		<div class="site_con">
			<dl>
				<dt>当前地址：</dt>
				{% if addressList %}
				{% for item in addressList %}
				<dd>{{ item.address }}&nbsp;&nbsp;{{ item.receiver }}&nbsp;&nbsp;(收)&nbsp;&nbsp;{{ item.phone }}</dd>
				{% endfor %}
				{% else %}
				<dd>无收货地址</dd>
				{% endif %}
			</dl>
		</div>
		<h3>编辑地址</h3>
		<div class="site_con">
			<form method="post">
				{% csrf_token %}
				<div class="form_group">
					<label>收件人：</label>
					<input type="text" name="receiver">
				</div>
				<div class="form_group form_group2">
					<label>详细地址：</label>
					<textarea class="site_area" name="address"></textarea>
				</div>
				<div class="form_group">
					<label>邮编：</label>
					<input type="text" name="zipcode">
				</div>
				<div class="form_group">
					<label>手机：</label>
					<input type="text" name="phone">
				</div>

				<input type="submit" value="提交" class="info_submit">
				<p>{{ errmsg }}</p>
			</form>
		</div>
</div>
{% endblock rightContent %}
