/* 把标签默认的间距设为0 */
body,ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dd,select,input,textarea,form{margin:0;padding:0}

/* 让h标签文字大小继承body的文字设置 */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* 去掉列表默认的图标 */
ul,ol{list-style:none;}

/* 去掉em默认的斜体 */
em{font-style: normal;}

/* 去掉a标签默认的下划线 */
a{text-decoration:none;}


/* 去掉加链接时产生的框线 */
img{border:0;}

/* 清除浮动 */
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;}
.clearfix{zoom:1}

/* 浮动 */
.fl{float:left}
.fr{float:right}


.common_title{
	width:1200px;
	margin:20px auto 0;
	font-size:14px;
}

.common_list_con{
	width:1200px;
	border:1px solid #dddddd;
	border-top:2px solid #00bc6f;
	margin:10px auto 0;
	background-color:#f7f7f7;
	position:relative;
}

.common_list_con dl{
	margin:20px;
	}
.common_list_con dt{
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}
.common_list_con dd input{
	vertical-align:bottom;
	margin-right:10px;
}

.edit_site{position:absolute; right:20px;top:30px;width:100px;height:30px;background-color:#37ab40;text-align:center;line-height:30px;color:#fff}

.pay_style_con{
	margin:20px;
	}
.pay_style_con input{
	float:left;
	margin:14px 7px 0 0;
	}
.pay_style_con label{
	float:left;
	border:1px solid #ccc;
	background-color:#fff;
	padding:10px 10px 10px 40px;
	margin-right:25px;
}
.pay_style_con .cash{
	background:url(../img/pay_icons.png) 8px top no-repeat #fff;
}
.pay_style_con .weixin{
	background:url(../img/pay_icons.png) 6px -36px no-repeat #fff;
}
.pay_style_con .zhifubao{
	background:url(../img/pay_icons.png) 12px -72px no-repeat #fff;
	width:50px;height:16px;
}
.pay_style_con .bank{
	background:url(../img/pay_icons.png) 6px -108px no-repeat #fff;
}

.popup_con{display:none;}
.popup{width:300px;height:150px;border:1px solid #dddddd;border-top:2px solid #00bc6f;background-color:#f7f7f7;position:fixed;
	left:50%;
	margin-left:-150px;
	top:50%;
	margin-top:-75px;
	z-index:1000;
}

.popup p{height:150px;line-height:150px;text-align:center;font-size:18px;}

.mask{width:100%;height:100%;position:fixed;left:0;top:0;background-color:#000;opacity:0.3;z-index:999;}

.goods_list_th{height:40px;border-bottom:1px solid #ccc}
.goods_list_th li{float:left;line-height:40px;text-align:center;}
.goods_list_th .col01{width:18%}
.goods_list_th .col02{width:30%}
.goods_list_th .col03{width:20%}
.goods_list_th .col04{width:15%}
.goods_list_th .col05{width:15%}

.goods_list_td{height:80px;border-bottom:1px solid #eeeded}
.goods_list_td li{float:left;line-height:80px;text-align:center;}
.goods_list_td .col01{width:5%}
.goods_list_td .col02{width:12.5%}
.goods_list_td .col03{width:30%}
.goods_list_td .col05{width:20%}
.goods_list_td .col06{width:16%}
.goods_list_td .col07{width:14%}

.goods_list_td .col02 img{
	width:63px;
	height:63px;
	border:1px solid #ddd;
	display:block;
	margin-top:7px;
	margin-right:58px;
	float:right;
}
.goods_list_td .col03{text-align:left;text-indent:20px}
.goods_list_td .col05{text-align:left;text-indent:100px}

.settle_con{margin:10px}
.total_goods_count,.transit,.total_pay{line-height:24px;text-align:right}
.total_goods_count em,.total_goods_count b,.transit b,.total_pay b{font-size:14px;color:#ff4200;padding:0 5px;}

.order_submit{width:1200px;margin:20px auto;}
.order_submit a{width:160px;height:40px;line-height:40px;text-align:center;background-color:#47aa34;color:#fff;font-size:16px;display:block;float:right}
