@charset "utf-8";
/* CSS Document */
/*去掉内边距和外边距*/
*{
	margin:0;
	padding:0;
}
/*去掉列表的标识*/
ol,ul{
	list-style-type:none;
}
/*超链接颜色设为黑色，下划线去掉*/
a{
	color:#000;
	text-decoration:none;
}
/*左浮动、和右浮动*/
.left{
	float:left;
}
.right{
	float:right;
}
.container{
	width:1280px;
	border:1px solid #f00;
	margin:0px auto;
}


#userInfo .rightContent{
	margin-left:300px;
	margin-top:20px;
	padding-left:60px;
	background-color:#f9f9f9;
	margin-bottom:20px;
}

.order_list_th{
	width:900px;
	border:1px solid #ddd;
	background-color:#f7f7f7;
	margin:20px auto 0;
}
.order_list_th li{float:left;height:30px;line-height:30px}
.order_list_th .col01{width:20%;margin-left:20px}
.order_list_th .col02{width:20%}


.order_list_table{
	width:900px;
	border-collapse:collapse;
	border-spacing:0px;
	border:1px solid #ddd;
	margin:-1px auto 0;
}

.order_list_table td{
	border:1px solid #ddd;
	text-align:center;
}

.order_goods_list{border-bottom:1px solid #ddd;margin-bottom:-2px;}
.order_goods_list li{float:left; height:80px;line-height:80px;}
.order_goods_list .col01{width:20%}
.order_goods_list .col01 img{width:60px;height:60px;border:1px solid #ddd;margin:10px auto;}
.order_goods_list .col02{width:50%;text-align:left;}
.order_goods_list .col02 em{color:#999;margin-left:10px}
.order_goods_list .col03{width:10%}
.order_goods_list .col04{width:20%}

.oper_btn{display:inline-block;border:1px solid #ddd;color:#666;padding:5px 10px}

.popup_con{display:none;}
.popup{width:300px;height:150px;border:1px solid #dddddd;border-top:2px solid #00bc6f;background-color:#f7f7f7;position:fixed;
	left:50%;
	margin-left:-150px;
	top:50%;
	margin-top:-75px;
	z-index:1000;
}

.popup p{height:150px;line-height:150px;text-align:center;font-size:18px;}

.mask{width:100%;height:100%;position:fixed;left:0;top:0;background-color:#000;opacity:0.3;z-index:999;}

/* 分页样式 */

.pagenation{height:32px;text-align:center;font-size:0;margin:30px auto;}
.pagenation a{display:inline-block;border:1px solid #d2d2d2;background-color:#f8f6f7;font-size:12px;padding:7px 10px;color:#666;margin:5px}

.pagenation .active{background-color:#fff;color:red;}
